@font-face{
    font-family: Inter;
    src: url("../../font/Inter/Inter-Regular.ttf");
    font-weight: 400;
}
@font-face{
    font-family: Inter;
    src: url("../../font/Inter/Inter-Medium.ttf");
    font-weight: 500;
}
@font-face{
    font-family: Inter;
    src: url("../../font/Inter/Inter-SemiBold.ttf");
    font-weight: 600;
}
@font-face{
    font-family: Inter;
    src: url("../../font/Inter/Inter-Bold.ttf");
    font-weight: 700;
}